/__pycache__
/Dataset
/Features
/train
/test
/reject
output_data_train.npy
output_cls_train.npy
output_data_test.npy
output_cls_test.npy
output_data_reject.npy
output_cls_reject.npy
output_cls_da_train.npy
output_data_da_train.npy
model.pkl
execute_training.bat